@font-face {
  font-family: 'Kievit';
  src: url('../assets/fonts/KT/KievitMedium.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


.dashYellow{
  width: 75px;
  height: 2px;
  background: #FBD784;
  margin-right: 15px;
}